/* .menu_bar {
  text-align:center;
  background-color: var(--second_color);
  position:fixed;
  width: 100%;
  z-index: 999;
} */


.menu_display {
  z-index: 1;
  width: 100%;
  height: 0;
  background-color: var(--first_color);
  justify-content: center;
  position: fixed;
  /* position: absolute; */
  /* animate nav opening details start */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease, height 1s ease;
  /* border: solid 1px white; */
}

.menu_elem {
  display: flex;
  justify-content: center;
  color: var(--font_first_color);
  cursor: pointer;
  height: calc(var(--font_size_menu) *2);
  /* border: solid 1px white; */
}

.menu_elem:hover {
  color: var(--font_second_color);
  /* border: solid 1px white; */
}

.menu_display_open {
  /* animate nav opening details end */
  font-family: var(--font_app);
  font-weight: 700;
  opacity: 1;
  visibility: visible;
  height:100vh;
  padding: var(--font_size_menu) 0px
  
}



.toggle_menu {
  height: --height_bar_menu_small;
  width: --height_bar_menu_small;
  z-index: 1;
  background-color: var(--second_color);
  border: 0px;
  /* border: solid 1px white; */
}

/* inspired from https://github.com/aru120/hamburgerNav-demo/blob/main/components/Hamburger.js */
.hamburger_container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.hamburger{
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  /* border: solid 1px white; */
}

.burger{
  /* --first_color: magenta; */
  width: 2rem;
  height: 2px;
  border-radius: 2px;
  /* background-color: magenta; */
  background-color: var(--first_color);
  transform-origin: 1px;
  transition: all 0.3s linear;
}
