.txt {
  width: 150px;
  /* align-items: center; */
  /* margin: auto; */
}

.picto {
  width: 25px;
  margin: auto;
}
.picto_container {
  width: 30px;
  /* border: 1px solid white; */
}

.bar {
  display: flex;
}
